

	<div id="arlo_tm_popup_blog">
		<div class="container">
			<div class="inner_popup scrollable"></div>
		</div>
		<span class="close"><a href="#"></a></span>
	</div>
	
	<!-- PRELOADER -->
	<div class="arlo_tm_preloader">
		<div class="spinner_wrap">
			<div class="spinner"></div>
		</div>
	</div>
	<!-- /PRELOADER -->
	
	<!-- MOBILE MENU -->
	<div class="arlo_tm_mobile_header_wrap">
		<div class="main_wrap">
			<div class="logo">
				<img src="/images/others/logo.png" alt="" />
			</div>
			<div class="arlo_tm_trigger">
				<div class="hamburger hamburger--collapse-r">
					<div class="hamburger-box">
						<div class="hamburger-inner"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="arlo_tm_mobile_menu_wrap">
   			<div class="mob_menu">
				<ul class="anchor_nav">
					{{#with section1}}
							<li><a href="#home">{{sideBarName}}</a></li>
						{{/with}}
						{{#with section2}}
							<li><a href="#about">{{sideBarName}}</a></li>
						{{/with}}
						<!--<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#news">News</a></li>-->
						{{#with section4}}
							<li><a href="#contact">{{sideBarName}}</a></li>
						{{/with}}
				</ul>
			</div>
		</div>
	</div>
	<!-- /MOBILE MENU -->