		<!-- LEFTPART -->
		<div class="arlo_tm_leftpart_wrap">
			<div class="leftpart_inner">
				<div class="logo_wrap">
					<a href="#"><img src="/images/others/logo.png" alt="" /></a>
				</div>
				<div class="menu_list_wrap">
					<ul class="anchor_nav">
						{{#with section1}}
							<li><a href="#home">{{sideBarName}}</a></li>
						{{/with}}
						{{#with section2}}
							<li><a href="#about">{{sideBarName}}</a></li>
						{{/with}}
						<!--<li><a href="#services">Services</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#news">News</a></li>-->
						{{#with section4}}
							<li><a href="#contact">{{sideBarName}}</a></li>
						{{/with}}
					</ul>
				</div>
				<div class="leftpart_bottom">
					<div class="social_wrap">
						<ul>
							<li><a target="_blank" href="https://www.facebook.com/lindani.l.moyo.5"><i class="xcon-facebook"></i></a></li>
							<li><a target="_blank" href="https://www.linkedin.com/in/lindan-moyo-700b6598/"><i class="xcon-linkedin"></i></a></li>
							<li><a target="_blank" href="https://www.instagram.com/lindanmoyo/"><i class="xcon-instagram"></i></a></li>
							<li><a target="_blank" href="https://www.youtube.com/channel/UCesNf745QC9J1x_Ucsh7aGg"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
				<a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
			</div>
		</div>
		<!-- /LEFTPART -->